{
  "v": "2",
  "ps": "These nodes are powered by @ctcgfw_free.",
  "add": "https://t.me/ctcgfw_free",
  "port": "0",
  "id": "Don't to use this one.",
  "aid": "0",
  "net": "tcp",
  "type": "none",
  "host": "",
  "path": "",
  "tls": ""
}